<header>
  <nav>
    <div class="nav-wrapper">
      <%= link_to "Diamond", root_path %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "Admin users", admin_users_path %></li>
        <li><%= link_to "Admin insurers", admin_insurances_path %></li>
        <li><%= link_to "Assignaments", assignaments_path %></li>
      </ul>
    </div>
  </nav>
</header>
