<h1>Editing assignament</h1>

<div>
  <%= link_to "Show this assignament", @assignament %> &nbsp;
  <%= link_to "Back to assignaments", assignaments_path %>
</div>

<br />

<%= render "form", assignament: @assignament %>

<br />

<%= button_to "Destroy this assignament", @assignament, method: :delete,  class: 'btn waves-effect waves-light red lighten-2', form: { data: { turbo_confirm: 'Are you sure ?' } } %>

<br />
