<h1>Editing assignament</h1>

<%= render "form", assignament: @assignament %>

<br>

<div>
  <%= link_to "Show this assignament", @assignament %> |
  <%= link_to "Back to assignaments", assignaments_path %>
</div>
